<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/reset.css">
    <link rel="stylesheet" href="/resources/css/carrito-de-compras.css">
    <link rel="stylesheet" href="/resources/css/header.css">
    <link rel="stylesheet" href="/resources/css/footer.css">
    <!--Esto es editable-->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <title>Carrito de compras</title>
</head>

<body>
    <section id="head"></section>
    <section id="navigation"></section>
    <!-- Esta seccion contiene el estandar del header y menu de navegacion del sitio -->
    <section id="head">
    </section>

    <section id="navigation">
    </section>

    <!--Aqui termina la seccion con el estandar del sitio-->

    <!--Aqui se trabaja el contenido del wireframe de cada pagina-->
    <section id="sct-contenedores">

        <h1>Carrito</h1>

        <div class="info-carrito">

            <div id="libro-agregado">
                <div id="contenedor-img">
                    <img src="" id="portada-libro" alt="portada del libro agregado">
                </div>
                <div id="contenedor-info">
                    <h2 id="nombre-libro">Nombre del libro</h2>
                    <p id="nombre-autor">Nombre del autor</p>
                    <div id="cantidad">
                        <label for="cantidad-libros" id="label-container">Cantidad</label>
                        <input type="number" id="cantidad-libros" value="1">
                    </div>
                    <button id="btn-eliminar">Eliminar</button>

                    <div id="precio">
                        <p>Precio: </p>
                        <pre id="precio-libro">0.0</pre>
                    </div>
                    <div id="descuento">
                        <p>Descuento: </p>
                        <p id="porcentaje-descuento">0%</p>
                    </div>
                </div>
            </div>

            <div id="opcion-proceder-compra">
                <p id="total">Total: </p>
                <p id="suma-carrito-compras">0.0</p>
                <button id="btn-compra">Proceder con el pago</button>
            </div>
        </div>

    </section>
    <!--  <div class="botones">
        <button id="btn-guardar">Guardar</button>
        <button id="btn-cancelar">Cancelar</button>
    </div> -->
    <!--Esta seccion contiene el footer estandar del sitio-->
    <footer>
    </footer>

    <!--Aqui se puede enlazar el codigo con Javascript-->
    <script src="/resources/js/carrito-de-compras.js"></script>
    <script src="/resources/js/header.js"></script>
    <script src="/resources/js/footer.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>