<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/catalogo-libros.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <title>Administracion de libros</title>

    <style>
        body {
            background-color: rgb(241, 235, 229);
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <section id="head">
    </section>
    <section id="navigation">
    </section>

    <section id="sect-registro">
        <table>
            <thead>
                <tr>
                    <th>Isbn</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Editorial</th>
                    <th>Fecha</th>
                    <th>Premio</th>
                    <th>Reseña</th>
                    <th>Precio</th>
                    <th>Descuento</th>
                    <th>Imagen</th>
                    <th>Genero</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </section>
    <script>
        // const formEl = document.querySelector("form");
        // const tbodyEl = document.querySelector("tbody");
        // const tableEl = document.querySelector("table");

        // function onAddWebsite(e) {
        //     e.preventDefault();
        //     const isbn = document.getElementById("txt-Isbn").value;
        //     const titulo = document.getElementById("txt-titulo").value;
        //     const autor = document.getElementById("txt-Autor").value;
        //     const editorial = document.getElementById("txt-Editorial").value;
        //     const anno = document.getElementById("txt-Anno").value;
        //     const resenna = document.getElementById("txt-Resenna").value;
        //     const premio = document.getElementById("txt-Premio").value;
        //     const precio = document.getElementById("txt-Precio").value;
        //     const descuento = document.getElementById("txt-Descuento").value;
        //     const Imagen = document.getElementById("txt-Imagen").value;
        //     const Genero = document.getElementById("slt-Genero").value;
        //     tbodyEl.innerHTML += `
        //     <tr>
        //         <td>${isbn}</td>
        //         <td>${titulo}</td>
        //         <td>${autor}</td>
        //         <td>${editorial}</td>
        //         <td>${anno}</td>
        //         <td>${resenna}</td>
        //         <td>${premio}</td>
        //         <td>${precio}</td>
        //         <td>${descuento}</td>
        //         <td>${Imagen}</td>
        //         <td>${Genero}</td>
        //         <td><button class="deleteBtn">Borrar</button></td>
        //     </tr>
        // `;
        // }

        // function onDeleteRow(e) {
        //     if (!e.target.classList.contains("deleteBtn")) {
        //         return;
        //     }

        //     const btn = e.target;
        //     btn.closest("tr").remove();
        // }

        // formEl.addEventListener("submit", onAddWebsite);
        // tableEl.addEventListener("click", onDeleteRow);
    </script>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/servicio_general.js"></script>
    <script src="/js/catalogo-libros.js"></script>
    <!-- <script src="/js/adminvalidacion.js"></script> -->
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>


</html>