<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/perfil-usuario.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <title>Perfil</title>
</head>

<body>
    <!-- <header></header>
        
    <nav></nav> -->
    <section id="head">
    </section>

    <section id="navigation">
    </section>

    <!--- Esta seccion contiene las cajas con opciones que se le mostraran al usuario en el perfil --->
    <section id="sct-contenedores">

        <!--- Esta es una seccion fuera de las cajas en la cual se muestra una imagen y el nombre del cliente --->
        <div class="fuera">
            <img src="/img/imagenPerfil.jpg" id="foto-perfil">
            <p>Bienvenido al perfil</p>
        </div>

        <!--- Esta caja posee la opcion de editar perfil --->
        <div class="contenedor">
            <h2>Información Personal</h2>
            <p>Aquí puedes encontrar información relacionada a lo que ingresaste durante tu registro y editar alguna de esa información.</p>
            <button id="btn-informacion" onclick="window.location='/editar-usuario'">Editar la información personal</button>
        </div>

        <!--- Esta caja contiene la opcion de editar las preferencias --->
        <div class="contenedor">
            <h2>Preferencias</h2>
            <p>Aquí puedes encontrar tus preferencias seleccionadas en cuanto a autores y a generos literarios, además de poder editar dicha información.</p>
            <button id="btn-preferencias" onclick="window.location='/editar-preferencias'">Editar las preferencias</button>
        </div>

        <!--- Esta caja contiene la opcion de editar los metodos de pago --->
        <div class="contenedor">
            <h2>Métodos de pago</h2>
            <p>Aquí puedes encontrar la información relacionada a tus tarjetas y a nuestro sistema de cliente frecuente, aquí puedes definir tu método de pago favorito y editar la información mencionada</p>
            <button id="btn-pagos" onclick="window.location='/editar-metodos-pago'">Editar información de pago</button>
        </div>


    </section>

    <!--- Este boton contiene la opcion de ir al historial de compras --->
    <div class="historial">
        <button id="btn-historial" onclick="window.location='/historial'">Ver el historial de compras</button>
    </div>


    <footer>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/servicio_general.js"></script>
    <script src="/js/perfil-usuario.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>