* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-top: 0%;
    padding-bottom: 5%;
}

nav {
    width: 100%;
    height: 75px;
    background-color: #d85205;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    display: inline-block;
    padding-top: 20px;
    opacity: 0.80;
}

nav .logo {
    font-size: 30;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-top: 20px;
    padding-left: 10px;
}

nav .logo p {
    float: left;
    color: #fff;
    text-transform: uppercase;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding-top: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    padding: 14px 16px;
    text-shadow: 0 0 2px #050505;
}

nav ul li a:hover {
    color: #aa9b13;
}

#sect-mision-vision .vision {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    text-align: center;
    padding: 1%;
    font-size: 12;
    border-radius: 25px;
    width: 30%;
    background-color: #d85205;
    color: white;
    opacity: 78%;
}

#sect-mision-vision .mision {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 20%;
    text-align: center;
    padding: 1%;
    font-size: 12;
    border-radius: 25px;
    width: 30%;
    background-color: #d85205;
    color: white;
    opacity: 85%;
}

.hl {
    color: white;
    padding: 90px;
    text-align: center;
    font-size: 45px;
    padding-bottom: 2%;
    text-shadow: 0 0 3px #0c0c0c, 0 0 6px #000000
}

#sect-mision-vision h2 {
    font-size: 20px;
}

#sect-valores.container h2 {
    font-size: 20px;
}

h3 {
    color: white;
    padding: 90px;
    text-align: center;
    font-size: 80px;
    padding-bottom: 2%;
    text-shadow: 0 0 3px #0c0c0c, 0 0 6px #000000
}

.container-2 {
    display: flex;
    justify-content: space-around;
    padding-top: 0%;
    padding-bottom: 5%;
    background-color: #000000;
    opacity: 80%;
}

#sect-valores h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 12px #ffffff, 0 0 20px #f7f7f7;
    font-size: 22px;
    text-shadow: 3px 3px 8px rgb(8, 0, 0);
}

img {
    border-radius: 50%;
}

#sect-valores .integridad {
    text-align: center;
    width: 100px;
    height: 100px;
    transition: width 2s, height 4s;
    padding-top: 2%;
}

#sect-valores .integridad:hover {
    width: 200px;
    height: 200px;
}

.valores {
    background-color: #000000;
    opacity: 80%;
    color: white;
    padding: 1px;
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 3px #0c0c0c, 0 0 6px #000000;
    opacity: 0.80;
}

#sect-valores .innovacion {
    text-align: center;
    width: 100px;
    height: 100px;
    transition: width 2s, height 4s;
    padding-top: 2%;
}

#sect-valores .honestidad {
    text-align: center;
    width: 100px;
    height: 100px;
    transition: width 2s, height 4s;
    padding-top: 2%;
}

#sect-valores .responsabilidad {
    text-align: center;
    justify-content: center;
    height: 100px;
    transition: width 2s, height 4s;
    padding-top: 2%;
}

#sect-valores .innovacion:hover {
    width: 200px;
    height: 200px;
}

#sect-valores .honestidad:hover {
    width: 200px;
    height: 200px;
}

#sect-valores .responsabilidad:hover {
    width: 200px;
    height: 200px;
}

.container-3 {
    display: flex;
    justify-content: space-around;
    padding-top: 0%;
    padding-bottom: 5%;
    background-color: #000000;
    opacity: 80%;
    padding-bottom: 20%;
}

#sect-equipo .coordinador {
    text-align: center;
    height: 100px;
    transition: width 2s, height 4s;
    padding-top: 2%;
    padding-bottom: 10%;
}

#sect-equipo h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 12px #ffffff, 0 0 20px #f7f7f7;
    font-size: 22px;
    text-shadow: 3px 3px 8px rgb(8, 0, 0);
}

.dropdown1 {
    position: relative;
    display: inline-block;
    color: #f7f7f7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f0f0f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown1:hover .dropdown-content {
    display: block;
}

#sect-equipo .desarrollo {
    text-align: center;
    height: 100px;
    transition: width 2s, height 4s;
    padding-top: 2%;
    padding-bottom: 10%;
}

#sect-equipo .calidad {
    text-align: center;
    height: 100px;
    transition: width 2s, height 4s;
    padding-top: 2%;
    padding-bottom: 10%;
}

#sect-equipo .soporte {
    text-align: center;
    height: 100px;
    transition: width 2s, height 4s;
    padding-top: 2%;
    padding-bottom: 10%;
}

.footer {
    background-color: #d85205;
    padding: 10px;
    text-align: center;
}

#head {
    display: flex;
    justify-content: space-between;
    background-color: #d85205;
    color: white;
    font-size: 1.5rem;
}

.logo {
    margin-left: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation {
    margin-top: 10px;
    height: 40px;
    background-color: #d85205;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 0;
    transition: 0.3s;
}

.link:hover {
    color: #612703;
}

.dropdown1 {
    position: relative;
}

.container-busqueda {
    margin: 40px 10px 0px 0px;
}

.dropdown-menu {
    background-color: #d85205;
    display: flex;
    flex-direction: column;
    left: 0;
    top: calc(100% + 0.25rem);
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.link {
    margin-top: 5px;
    text-decoration: none;
    color: white;
}

.dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    font-family: inherit;
    font-size: inherit;
}