/* Aqui comienza el template del estandar del sitio */

body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#head {
    display: flex;
    justify-content: space-between;
    background-color: #d85205;
    color: white;
    font-size: 1.5rem;
}

.logo {
    margin-left: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation {
    margin-top: 10px;
    height: 40px;
    background-color: #d85205;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 0;
    transition: 0.3s;
}

.link:hover {
    color: #c23616;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    background-color: #d85205;
    display: flex;
    flex-direction: column;
    left: 0;
    top: calc(100% + 0.25rem);
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.link {
    margin-top: 5px;
    text-decoration: none;
    color: white;
}

.dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    font-family: inherit;
    font-size: inherit;
}

.container-busqueda {
    margin: 40px 10px 0px 0px;
}

footer {
    margin-top: 10px;
    background-color: #d85205;
    border: 1px solid white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-busqueda {
    margin: 40px 10px 0px 0px;
}


/* Aqui termina el template del estandar del sitio*/


/* A partir de aqui le puedes dar estilo al contenido del wireframe que no pertenece al estandar*/

.fuera {
    width: 300px;
    height: 400px;
    text-align: center;
}

#foto-autor {
    width: 300px;

}

#sct-contenedores {
    display: flex;
    margin-top: 50px;
    margin-left: 25%;
    padding-bottom: 1%;
}

.contenedor {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

#sct-contenedores h2 {
    font-size: x-large;
    font-weight: bold;
}

#sct-contenedores p {
    font-size: larger;
    margin-top: 10px;
}

#contenedor2 {
    border: 1px solid black;
    width: 300px;
}