body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #head {
    display: flex;
    justify-content: space-between;
    background-color: #3E5961;
    color: white;
    font-size: 1.5rem;
}

.logo {
    margin-left: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation {
    margin-top: 10px;
    height: 40px;
    background-color: #495867;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;

}

.link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 0;
    transition: 0.3s;
}

.link:hover {
    color: #e36414;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    background-color: #495867;
    display: flex;
    flex-direction: column;
    left: 0;
    top: calc(100% + 0.25rem);
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out; 
}

.link {
    margin-top: 5px;
    text-decoration: none;
    color: white;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    font-family: inherit;
    font-size: inherit;
} */



#hero-banner {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

.gallery-cell {
    width: 100%;
    margin-right: 20px;
    counter-increment: gallery-cell;
}

.gallery-cell:before {
    content: counter(gallery-cell);
    color: white;
}

#hero-banner img {
    width: 100%;
    max-width: 100%;
}

#sct-mas-vendidos {
    margin-top: 40px;
}

.container-horizontal-scroll {
    width: 1200px;
    height: 270px;
    display: flex;
    overflow: scroll;
    align-items: center;
}

.container-horizontal-scroll1 {
    width: 1200px;
    height: 270px;
    display: flex;
    overflow: scroll;
    align-items: center;
}

.book-container {
    height: 255px;
    width: 160px;
    margin: 0px 25px 0px 25px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.book-container img {
    width: fit-content;
    height: 255px;
}

#sct-promociones {
    border-top: 1px dotted lightgrey;
    margin-top: 60px;
}

#sct-reviews{
    border-top: 1px solid lightgrey;
    margin-top: 60px;
    display: block;
}

#sct-reviews div {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.review-container {
    display: flex;
    width: 25%;
}

#sct-reviews > p{
    padding-right: 65rem;
    font-size: 2.5rem;
    margin: 25px 0 25px 0;
}

.review-quote p{
    font-size: 2rem;
    font-family: cursive;
}

/* footer {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30se le puedepx;
    background-color: #3E5961;
    width: 100%;
    height: 50px;
} */

.container-busqueda {
    margin: 40px 10px 0px 0px;
    
}

#sct-promociones p {
    padding-right: 65rem;
    font-size: 36px;
    margin: 20px 0 25px 0;
}

.diez-promociones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-diez-vendidos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promociones-anuncios {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;

}

.promociones-anuncio img {
    display: block;
    height: 353px;
    width: 466px;
    cursor: pointer;
}

.promociones-anuncio span {
    font-size: 1.5rem;
    cursor: pointer;
}

#sct-mas-vendidos p {
    padding-right: 65rem;
    font-size: 36px;
    margin-bottom: 20px;
}

.previous {
    margin-right: .75rem;
    font-size: 2rem;
    color: rgb(116, 108, 108);
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    background: rgba(0, 0, 0, .1);
    transition: 0.3s;
}

.previous:hover {
    color: #e36414;
}

.previous1 {
    margin-right: .75rem;
    font-size: 2rem;
    color: rgb(116, 108, 108);
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    background: rgba(0, 0, 0, .1);
    transition: 0.3s;
}

.previous1:hover {
    color: #e36414;
}

.next{
    margin-left: .75rem;
    font-size: 2rem;
    color: rgb(116, 108, 108);
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    background: rgba(0, 0, 0, .1);
    transition: 0.3s;
}

.next:hover {
    color: #e36414;
}

.next1 {
    margin-left: .75rem;
    font-size: 2rem;
    color: rgb(116, 108, 108);
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    background: rgba(0, 0, 0, .1);
    
}

.next1:hover {
    color: #e36414;
}


.book-image {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
}

/* .footer-icon-container {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.footer-icon {
    display: flex;
    cursor: pointer;
}

.footer-icon img{
    width: 50px;
} */



