footer {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30se le puedepx;
    background-color: #3E5961;
    width: 100%;
    height: 50px;
}

.footer-icon-container {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.footer-icon {
    display: flex;
    cursor: pointer;
}

.footer-icon img{
    width: 50px;
}