body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#head {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 10px;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 50%;
    
}

.menu ul {
    display: flex;
    justify-content: space-evenly;

}

.menu ul li{
    display: inline-block;
}

#navigation {
    margin-top: 10px;
    height: 40px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-banner {
    margin-top: 10px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-banner img {
    display: inline-block;
    height: 400px;
}

#mas-vendidos {
    margin-top: 10px;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-mas-vendidos {
    border: 3px solid red;
    width: 1200px;
    height: 270px;
    display: flex;
    overflow: scroll;
    align-items: center;
}

.book-container {
    border: 1px solid red;
    height: 255;
    width: 160;
    margin: 0px 25px 0px 25px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

#promociones {
    margin-top: 10px;
    border: 1px solid red;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reviews {
    margin-top: 10px;
    border: 1px solid red;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 10px;
    border: 1px solid red;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-busqueda {
    margin: 40px 10px 0px 0px;
    
}



